fastapi==0.115.12
uvicorn[standard]==0.34.3
redis==6.2.0
sqlalchemy==2.0.41
greenlet==3.2.3
asyncpg==0.30.0
aiosqlite==0.21.0
email-validator==2.2.0
codecarbon==3.0.2
httpx==0.27.2
pytest==8.4.0
pytest-asyncio==1.0.0
